@using FleaMarket.Models.ViewModels
@model SearchProductViewModel

<select name="Category" asp-for="Category">
    <option value="Alla kategorier" selected>Alla kategorier</option>
    <optgroup label="Personligt">
        <option value="Kläder och skor">Kläder och skor</option>
        <option value="Barnkläder och skor">Barnkläder och skor</option>
        <option value="Leksaker och barnartiklar">Leksaker och barnartiklar</option>
        <option value="Accessoarer & klockor">Accessoarer & klockor</option>
    </optgroup>
    <optgroup label="För hemmet">
        <option value="Vitvaror och husgeråd">Vitvaror och husgeråd</option>
        <option value="Verktyg">Verktyg</option>
        <option value="Bygg och trädgård">Bygg och trädgård</option>
        <option value="Möbler och heminredning">Möbler och heminredning</option>
    </optgroup>
    <optgroup label="Fritid & hobby">
        <option value="Böcker & litteratur">Böcker & litteratur</option>
        <option value="Hobby & samlarprylar">Hobby & samlarprylar</option>
        <option value="Jakt och fiske">Jakt och fiske</option>
        <option value="Sport- & fritidsutrustning">Sport- & fritidsutrustning</option>
        <option value="Musikutrustning">Musikutrustning</option>
        <option value="Hästar och ridsport">Hästar och ridsport</option>
        <option value="Cyklar">Cyklar</option>
    </optgroup>
    <optgroup label="Elektronik">
        <option value="Datorer & TV-spel">Datorer & TV-spel</option>
        <option value="Filmer">Filmer</option>
        <option value="Ljud och bild">Ljud och bild</option>
        <option value="Telefoner och tillbehör">Telefoner och tillbehör</option>
    </optgroup>
    <optgroup label="Fordon">
        <option value="Bildelar & tillbehör">Bildelar & tillbehör</option>
        <option value="MC-delar och tillbehör">MC-delar och tillbehör</option>
        <option value="Båtdelar och tillbehör">Båtdelar och tillbehör</option>
    </optgroup>

    <!--Övrigt-->
    <option value="Övrigt">Övrigt</option>
</select>