@using FleaMarket.Models.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserEntity> signInManager;

<header>
    <div class="container header-container">
        <div class="header-logo">
            <a asp-controller="Home" asp-action="Index"><span>Fixo</span></a>
        </div>
        <div class="header-links">

            <a asp-controller="Product" asp-action="Index">
                <img class="location-icon" src="/Images/Icons/location_icon.png" alt="location icon">
                Marknader
            </a>

            <div class="vertical-line"></div>

            <button class="" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/Images/Icons/user_icon.png" alt="user icon">
                <div><i class="fa-solid fa-bars"></i></div>
            </button>
            <div class="dropdown-menu shadow-lg bg-body" aria-labelledby="dropdownMenuButton">
                <a asp-action="LoginUser" asp-controller="Authentication" class="dropdown-item border-bottom-dropdown-item">Logga in</a>
                <a asp-action="RegisterUser" asp-controller="Authentication" class="dropdown-item">Registrera konto</a>
            </div>

        </div>

    </div>
</header>