<header>
    <div class="container">
        <a asp-controller="Home" asp-action="Index">Hem</a>
        <a asp-controller="Product" asp-action="Index">Se alla produkter</a>
        <a asp-controller="Product" asp-action="CreateProduct">Skapa en produkt</a>
    </div>
</header>