@using FleaMarket.Models.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserEntity> signInManager;

<header>
    <div class="container">
        <a asp-controller="Home" asp-action="Index">Hem</a>
        @if (!signInManager.IsSignedIn(User))
        {
            <a asp-controller="Product" asp-action="Index">Marknader</a>
            <a asp-controller="Authentication" asp-action="RegisterUser">För säljare</a>
        }
        else
        {
            <a asp-controller="Product" asp-action="CreateProduct">Skapa en produkt</a>
            <a asp-action="Index" asp-controller="Account">Mitt konto</a>
        }
    </div>
</header>