@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserEntity> signInManager;
@inject UserService _userService;
@{
    string userId = User.FindFirst("Id")?.Value;
    var user = await _userService.GetUserAsync(x => x.Id == userId);
}

<header>
    <div class="container header-container">
        <div class="header-logo">
            <a asp-controller="Home" asp-action="Index"><span>Fixo</span></a>
        </div>
        <div class="header-links">

            @if (!signInManager.IsSignedIn(User))
            {
                <a asp-controller="Product" asp-action="Index">
                    <img class="location-icon" src="/Images/Icons/location_icon.png" alt="location icon">
                    Marknader
                </a>
            }
            else
            {
                if (user.IsActiveSeller == true)
                {
                    <a asp-controller="Product" asp-action="CreateProduct">
                        <i class="fa-solid fa-plus header-links-icon"></i>
                        Skapa produkt
                    </a>
                }
                else
                {
                    <a asp-controller="Payment" asp-action="CreatePaymentRequest">
                        Aktivera konto
                    </a>
                }

            }

            <div class="vertical-line"></div>

            <button class="" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/Images/Icons/user_icon.png" alt="user icon">
                <div><i class="fa-solid fa-bars"></i></div>
            </button>
            <div class="dropdown-menu shadow-lg bg-body" aria-labelledby="dropdownMenuButton">
                @if (!signInManager.IsSignedIn(User))
                {
                    <a asp-action="LoginUser" asp-controller="Authentication" class="dropdown-item border-bottom-dropdown-item">Logga in</a>
                    <a asp-action="RegisterUser" asp-controller="Authentication" class="dropdown-item">Registrera konto</a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="Account" class="dropdown-item border-bottom-dropdown-item">Mitt konto</a>
                    <a asp-action="LogoutUser" asp-controller="Authentication" class="dropdown-item">Logga ut</a>
                }
            </div>

        </div>

    </div>
</header>