<section class="container">
    <div>
        <p>Tack för att du bekräftade e-postadressen. <a class="text-decoration-underline" asp-controller="Authentication" asp-action="LoginUser">Logga in</a></p>
    </div>
</section>
