@using FleaMarket.Models.ViewModels
@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "Återställ lösenord";
}

<div class="container auth-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Återställ lösenord</h3>
            <hr />
            <form method="post" asp-action="ResetPassword" asp-controller="Authentication" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group toggle-password-visibility">
                    <input asp-for=Password type="password" class="form-control" id="password" placeholder="Ange nytt lösenord">
                    <span class="small text-danger" asp-validation-for="Password"></span>
                    <div class="" id="togglePassword"><i class="fa-solid fa-eye-slash"></i></div>
                </div>
                <div class="form-group">
                    <input asp-for=ConfirmPassword type="password" class="form-control" id="confirmPassword" placeholder="Bekräfta lösenord">
                    <span class="small text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />

                <button type="submit" class="button purple-bg-button">Återställ lösenord</button>
            </form>
        </div>
    </div>
</div>