<section class="container">
    <h1 class="mt-3">Lösenord återställt</h1>
    <p>Ditt lösenord har blivit återställt. Vänligen <a class="text-decoration-underline" asp-action="LoginUser">klicka här</a> för att logga in.</p>
</section>
