.account-section {
    h2 {
        font-weight: normal;
    }

    .email-span {
        font-size: 1rem;
        font-weight: normal;
    }
    .account-active-selleraccount {
        margin-top: 1rem;

        h3 {
            font-weight: 400;
        }

        .activate-selleraccount--content {
            background-color: $color-orange-background;
            padding: 1rem 2rem;
            margin-top: 1rem;

            h5 {
                font-weight: 500;
            }

            p {
                margin: 0;
            }
        }
    }

    .update-place-form {
        background-color: $color-orange-background;
        margin-bottom: 1rem;


        .update-place-form--form-group {
            position: relative;
            margin-bottom: 1rem;
            border: 1px solid lightgray;
            border-radius: 0.2rem;
            background-color: white;

            input {
                height: 50px;
                width: 75%;
                border: none;
                text-indent: 1rem;

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            .button {
                position: absolute;
                top: 7.5px;
                right: 5px;
                height: 35px;
                width: fit-content;
                margin: 0;
                padding: 0 0.4rem;
                font-size: 0.8rem;
            }
        }
        //Image
        .update-place-form--image-group {
            border: none;
            margin-bottom: 0;
            background-color: transparent;

            input {
                text-indent: 0;
            }

            .button {
                border: none;
                text-decoration: underline;
                font-size: 1rem;
                font-weight: normal;
                background-color: transparent;
            }
        }
    }

    .account-section--add-product-btn {
        margin-top: 0;
    }
}

.full-bleed {
    box-shadow: 0 0 0 100vmax $color-orange-background;
    clip-path: inset(0 -100vmax);
}
