.account-section {
    h2{
        font-weight: normal;
    }
    .email-span{
        font-size: 1rem;
        font-weight: normal;
    }
    .account-active-selleraccount {
        margin-top: 1rem;

        h3 {
            font-weight: 400;
        }

        .activate-selleraccount--content {
            background-color: $color-orange-background;
            padding: 1rem 2rem;
            margin-top: 1rem;

            h5 {
                font-weight: 500;
            }

            p {
                margin: 0;
            }
        }
    }

    .update-place-form {
        .update-place-form--form-group {
            position: relative;
            margin-bottom: 1rem;
            border: 1px solid gray;
            border-radius: 0.2rem;

            input {
                height: 50px;
                width: 75%;
                border: none;
                text-indent: 1rem;
                &:focus{
                    border: none;
                    outline: none;
                }
            }

            .button {
                position: absolute;
                top: 7.5px;
                right: 5px;
                height: 35px;
                width: fit-content;
                margin: 0;
                padding: 0 0.4rem;
                font-size: 0.8rem;
            }
        }
    }
}
