.account-active-selleraccount {
    margin-top: 1rem;
    h3{
        font-weight: 400;
    }
    .activate-selleraccount--content {
        background-color: $color-orange-background;
        padding: 1rem 2rem;
        margin-top: 1rem;
        h5{
            font-weight: 500;
        }
        p {
            margin: 0;
        }
    }
}
