.auth-container{
    margin-top: 1rem;
    text-align: center;
    height: 70vh;
    display: grid;

    hr {
        margin: 1.6rem auto;
        margin-bottom: 2rem;
        max-width: 60%;
    }

    form {

        input, select {
            padding: 0.6rem 0;
            padding-left: 1rem;
        }
    }

    .auth-container--footer {
        width: 100%;
        align-self: end;
        padding-top: 2rem;

        hr {
            max-width: 20%;
            margin: 0 auto;
        }

        .auth-container--footer--content {
            padding: 1rem;

            p {
                margin-bottom: 0.3rem;
            }

            .register-btn {
                margin-top: 0;
                border: 1px solid $color-blue-20;
                background-color: transparent;
                color: $color-blue-20;
                max-width: 14rem;
            }

            .register-company-link {
                text-decoration: underline;
            }

            hr {
                margin-top: 1rem;
            }
        }
    }
}

.create-product-container {
    text-align: start;
}