/*Header*/
header {
    background-color: $color-purple-10;
    padding: 0.8rem 0.2rem;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            font-size: 1.2rem;

            a {
                color: $color-blue-10;
                font-weight: 700;
            }
        }

        .header-links {
            display: flex;
            gap: 2rem;

            a {
                text-align: center;
                color: $color-blue-10;
                font-size: 1.05rem;
            }
        }
    }
}

