/*Header*/
header {
    background-color: #dff9fb;
    padding: 0.8rem 0.2rem;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            font-size: 1.2rem;

            a {
                color: #130f40;
                font-weight: 700;
                text-decoration: none;
            }
        }

        .header-links {
            display: flex;
            gap: 2rem;

            a {
                text-decoration: none;
                text-align: center;
                color: #130f40;
                font-size: 1.1rem;
            }
        }
    }
}

