/*Header*/
header {
    background-color: white;
    padding: 1rem 0.2rem;
    border-bottom: 1px solid lightgray;

    a {
        color: $color-purple-10;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            font-size: 1.3rem;

            a {
                font-weight: 700;
            }
        }

        .header-links {
            display: flex;
            gap: 2rem;

            a {
                text-align: center;
                font-size: 1.05rem;
            }
        }
    }
}

