
.home-showcase {
    background-color: #130f40;
    color: white;
    padding: 1rem 0;

    h4 {
        color: #ffbe76;
        margin-bottom: 1.4rem;
        font-size: 1.6rem;
    }
}

.home-container {
    margin-top: 1.8rem;
    color: #130f40;
}
