.market-search-form {
    select {
        margin-bottom: 0.4rem !important;
    }

    .button {
        border-radius: 0.2rem;
        width: 100%;
        margin-top: 0.6rem;
    }
}

.info--header{
    font-size: 14px;
    font-weight: 400;
}

.market--products {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}
