.market-search-form {
    select {
        margin-bottom: 0.4rem !important;
    }

    .button {
        background-color: $color-blue-20;
        border-radius: 0.2rem;
        width: 100%;
        margin-top: 0.6rem;
    }
}
