/* The Modal (background) */
.product-card--content--modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    margin: 10% auto; /* 10% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */

    .modal-content--img-group {
        position: relative;

        .close {
            padding: 0.1rem 0.5rem;
            position: absolute;
            right: 0.8rem;
            top: 0.8rem;
            background-color: #e8e8e88d;
            color: #5c5c5c;
            width: fit-content;
            border-radius: 50%;
            font-size: 1rem;
        }

        .product-card--content--modal--product-img {
            max-width: 100%;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
        }
    }


    .modal-content--content {
        padding: 16px;
        padding-top: 12px;
        position: relative;
        bottom: 18px;
        background-color: white;
        border-radius: 20px;

        .modal-content--market-category-group {
            display: flex;
            justify-content: space-between;
        }

        .modal-content--product-title {
            margin-top: 6px;
        }

        .modal-content--place-price-group {
            display: flex;
            justify-content: space-between;
            min-height: 3.4rem;
            margin-top: 1rem;

            .modal-content--place-group {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .modal-content--place {
                    font-weight: 500;
                    max-width: 90%;
                }
            }

            .modal-content--price-group {
                text-align: end;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .modal-content--price {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .modal-content--place-img {
            margin-top: 1.3rem;
            max-width: 100%;
            border-radius: 4px;
        }
    }
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 20px;
    padding: 0;
    text-align: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
//-------------------------------------------

