$color-purple-10: #130f40;
$color-gray-10: #575757;

//icon color
$color-gray-20: #adadad;

$color-blue-10: #dff9fb;
$color-blue-20: #22a6b3;

$color-orange: #f0932b;
$background-color-10: #f7f7f7;

$color-orange-background: rgba(246, 229, 141, 0.5);