@using FleaMarket.Models.Entities;
@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@model AddProductViewModel
@inject UserService _userService
@inject MarketService _marketService
@{
    ViewData["Title"] = "Lägg till en produkt";

    var userId = User.FindFirst("Id")?.Value;

    UserEntity user = await _userService.GetUserAsync(x => x.Id == userId);
    var tableNumber = user.TableNumber;

    IEnumerable<MarketEntity> markets = await _marketService.GetAllAsync();
}

<nav class="container breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Hem</a></li>
        <li class="breadcrumb-item"><a asp-controller="Account" asp-action="Index">Mitt konto</a></li>
        <li class="breadcrumb-item active">Skapa produkt</li>
    </ol>
</nav>


<div class="container create-product-container">
    <div>
        <h5 class="create-product-container-header">Vad vill du sälja?</h5>
        <form method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
            @if (!(tableNumber > 0))
            {
                <div class="form-group">
                    <input asp-for="TableNumber" type="number" />
                    <span class="small text-danger d-block" asp-validation-for="TableNumber"></span>
                </div>
            }
            <div class="form-group">
                <input asp-for="Title" type="text" placeholder="Rubrik*"/>
                <span class="small text-danger d-block" asp-validation-for="Title"></span>
            </div>

            <div class="form-group price-form-group">
                <input asp-for="Price" type="number" placeholder="Pris*"/>
            </div>
            <div class="create-product-container--price-formgroup">
                <input id="noPriceCheckbox" asp-for="NoPrice" type="checkbox" />
                <label asp-for="NoPrice" for="noPriceCheckbox">Inget pris bestämt</label>
                <span class="small text-danger d-block" asp-validation-for="Price"></span>
            </div> 

            <div class="form-group">
                <i class="input-icon fa-solid fa-list"></i>
                <i class="dropdown-icon fa-solid fa-caret-down"></i>
                <select asp-for=@Model.MarketId name="MarketId">
                    <option value="Alla kategorier" disabled selected>Marknad</option>
                    @foreach (var market in markets)
                    {
                        <option value="@market.Id">@market.MarketTitle</option>
                    }
                </select>
                <span class="small text-danger d-block" asp-validation-for="MarketId"></span>
            </div>

            <div class="upload-picture">
                <label class="form-label d-block" for="Image">Bild</label>
                <input asp-for="Image" class="" />
                <span class="small text-danger d-block" asp-validation-for="Image"></span>
            </div>

            <div class="form-group">
                <i class="input-icon fa-solid fa-list"></i>
                <i class="dropdown-icon fa-solid fa-caret-down"></i>
                <select asp-for=@Model.Category name="Category">
                    <option disabled selected>Kategori</option>
                    <optgroup label="För hemmet">
                        <option value="Möbler och heminredning">Möbler och heminredning</option>
                        <option value="Bygg och trädgård">Bygg och trädgård</option>
                        <option value="Vitvaror och husgeråd">Vitvaror och husgeråd</option>
                        <option value="Verktyg">Verktyg</option>
                    </optgroup>
                    <optgroup label="Personligt">
                        <option value="Kläder och skor">Kläder och skor</option>
                        <option value="Barnkläder och skor">Barnkläder och skor</option>
                        <option value="Barnleksaker och barnartiklar">Barnleksaker och barnartiklar</option>
                        <option value="Accessoarer">Accessoarer</option>
                    </optgroup>
                    <option value="Övrigt">Övrigt</option>
                </select>
                <span class="small text-danger d-block" asp-validation-for="Category"></span>
            </div>

            <input asp-for="UserId" value="@userId" hidden />
            <hr />
            <button class="button" type="submit">Publicera</button>
        </form>
    </div>
</div>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Your script -->
<script>
    $(document).ready(function () {
        $('#noPriceCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('.price-form-group').hide();
            } else {
                $('.price-form-group').show();
            }
        });
    });
</script>