@using FleaMarket.Models.Entities;
@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@model AddProductViewModel
@inject UserService _userService
@inject MarketService _marketService
@{
    ViewData["Title"] = "Lägg till en produkt";

    var userId = User.FindFirst("Id")?.Value;

    UserEntity user = await _userService.GetUserAsync(x => x.Id == userId);
    var tableNumber = user.TableNumber;

    IEnumerable<MarketEntity> markets = await _marketService.GetAllAsync();
}

<nav class="container breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Hem</a></li>
        <li class="breadcrumb-item"><a asp-controller="Account" asp-action="Index">Mitt konto</a></li>
        <li class="breadcrumb-item active">Skapa produkt</li>
    </ol>
</nav>


<div class="container create-product-container auth-container">
    <div>
        <h2>Skapa produkt</h2>

        <form method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
            @if (!(tableNumber > 0))
            {
                <div class="form-group">
                    <label class="d-block" asp-for="TableNumber">Vilket bordsnummer har du idag?</label>
                    <input asp-for="TableNumber" type="number" />
                    <span class="small text-danger d-block" asp-validation-for="TableNumber"></span>
                </div>
            }
            <div class="form-group">
                <label class="d-block" asp-for="Title">Rubrik</label>
                <input asp-for="Title" type="text" placeholder="Vad vill du sälja?"/>
                <span class="small text-danger d-block" asp-validation-for="Title"></span>
            </div>

            <div class="form-group price-form-group">
                <label class="d-block" asp-for="Price">Pris</label>
                <input asp-for="Price" type="number" placeholder="Ange ett pris"/>
            </div>
            <div>
                <input id="noPriceCheckbox" asp-for="NoPrice" type="checkbox" />
                <label asp-for="NoPrice" for="noPriceCheckbox">Inget bestämt pris</label>
                <span class="small text-danger d-block" asp-validation-for="Price"></span>
            </div>

            <div class="form-group">
                <label class="d-block" asp-for="MarketId">Marknad*</label>
                <select name="MarketId">
                    <option disabled selected>Välj från listan</option>
                    @foreach (var market in markets)
                    {
                        <option value="@market.Id">@market.MarketTitle</option>
                    }
                </select>
                <span class="small text-danger d-block" asp-validation-for="MarketId"></span>
            </div>

            <div class="my-4 upload-picture">
                <label class="form-label d-block" for="Image">Bild</label>
                <input asp-for="Image" class="picture-file" />
                <span class="small text-danger d-block" asp-validation-for="Image"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category">Kategori</label>
                <select name="Category">
                    <option disabled selected>Välj från listan</option>
                    <optgroup label="För hemmet">
                        <option value="Möbler och heminredning">Möbler och heminredning</option>
                        <option value="Bygg och trädgård">Bygg och trädgård</option>
                        <option value="Vitvaror och husgeråd">Vitvaror och husgeråd</option>
                        <option value="Verktyg">Verktyg</option>
                    </optgroup>
                    <optgroup label="Personligt">
                        <option value="Kläder och skor">Kläder och skor</option>
                        <option value="Barnkläder och skor">Barnkläder och skor</option>
                        <option value="Barnleksaker och barnartiklar">Barnleksaker och barnartiklar</option>
                        <option value="Accessoarer">Accessoarer</option>
                    </optgroup>
                    <option value="Övrigt">Övrigt</option>
                </select>
            </div>

            <input asp-for="UserId" value="@userId" hidden />
            <button class="mt-5 btn btn-success" type="submit">Skapa produkt</button>
        </form>
    </div>
</div>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Your script -->
<script>
    $(document).ready(function () {
        $('#noPriceCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('.price-form-group').hide();
                $(this).parent().addClass('mt-4');
            } else {
                $('.price-form-group').show();
                $(this).parent().removeClass('mt-4');
            }
        });
    });
</script>