@using FleaMarket.Models;
@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@inject MarketService marketService

@{
    var markets = await marketService.GetAllAsync();

    ViewData["Title"] = "Marknader";
}

<nav class="container breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Hem</a></li>
        <li class="breadcrumb-item active">Marknader</li>
    </ol>
</nav>

<div class="container">
    <h1 class="mb-4">Aktiva marknader</h1>

    @foreach (var market in markets)
    {
        <partial name="/Views/Partials/_MarketCard.cshtml" model="market" />
    }
</div>



