@using FleaMarket.Models;
@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@inject ProductService productService

@{
    ViewData["Title"] = "Alla produkter";
    var vaksalaProducts = productService.GetVaksalaTorg();

    var ulvaProducts = productService.GetUlvaKvarn();
}

<div class="home-container mt-5">
    <div>
        <h2 class="mb-3">Välj en marknad</h2>

        <a asp-controller="Product" asp-action="UlvaKvarn">Ulva kvarn</a>
        <a asp-controller="Product" asp-action="VaksalaTorg">Vaksala Torg</a>

    </div>
</div>

<div class="container mt-5">
    <h2 class="mb-5">Aktiva marknader just nu</h2>

    <hr />
    <h3><a asp-controller="Product" asp-action="UlvaKvarn">Ulva kvarn</a></h3>
    <p>Söndagar 10:00-14:00</p>
    <p><b>Stad:</b> Uppsala</p>
    <p><b>Adress:</b> Ulva Kvarn Uppsala</p>

    <a href="https://www.ulvakvarn.com/ulva-bakluckeloppis-besokare/" target="_blank">Mer info</a>

    <hr />
    <h3><a asp-controller="Product" asp-action="VaksalaTorg">Vaksala Torg</a></h3>
    <p>Söndagar 9:00-16:00</p>
    <p><b>Stad:</b> Uppsala</p>
    <p><b>Adress:</b> Vaksala Torg Uppsala</p>

</div>



