@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@using Microsoft.AspNetCore.Identity;
@inject MarketService marketService
@{
    var markets = await marketService.GetAllAsync();
    ViewData["Title"] = "Hem";
}

<section class="home-showcase">
    <img src="/Images/marketlp.jpg" />
    <div class="home-showcase--content">
        <form>
            <div class="form-group">
                <label>Vad letar du efter idag?</label>
                <div class="form-group">
                    <i class="input-icon fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Sök" />
                </div>
            </div>
            <div class="form-group">
                <i class="input-icon fa-solid fa-list"></i>
                <i class="dropdown-icon fa-solid fa-caret-down"></i>
                <select name="Market">
                    <option value="Välj marknad" disabled selected>Välj marknad</option>
                    @if(markets.Count() < 1)
                    {
                        <option>Det finns inga aktiva marknader just nu.</option>
                    }else{
                        @foreach (var market in markets)
                        {
                            <option value="@market.Id">@market.MarketTitle</option>
                        }
                    }

                </select>
            </div>
            <button class="button">Sök</button>
        </form>
    </div>
</section>

<section class="container home-container">
    <h5>Aktiva marknader</h5>
    <div>
        @foreach (var market in markets)
        {
            <partial name="/Views/Partials/_MarketCard.cshtml" model="market" />
        }
    </div>

</section>