@{
    ViewData["Title"] = "Hem";
}



<div class="home-container mt-5">
    <div>
        <h2 class="mb-5">Vad vill du göra?</h2>
        <a asp-controller="Product" asp-action="Index">Se alla produkter</a>
        <a asp-controller="Product" asp-action="CreateProduct">Skapa en produkt</a>
    </div>
</div>