@using FleaMarket.Models.Entities;
@using FleaMarket.Models.ViewModels
@using FleaMarket.Services;
@using Microsoft.AspNetCore.Identity;
@inject MarketService marketService
@model SearchProductViewModel
@{
    var markets = await marketService.GetAllAsync();
    ViewData["Title"] = "Hem";
}
<!--    <img src="/Images/marketlp.jpg" /> -->
<section class="home-showcase pb-4">
    <form id="searchForm" method="post" asp-controller="Product" asp-action="Market">
        <div class="container">
            <h1>Vad letar du efter idag?</h1>
            <p>Hitta ditt nästa loppisfynd här på Fixo</p>

            <div class="home-showcase--form">
                <div class="form-group">
                    <label asp-for="SearchString">Sök</label>
                    <div class="form-group">
                        <i class="input-icon fa-solid fa-magnifying-glass"></i>
                        <input asp-for=SearchString type="text" placeholder="Vad vill du söka efter?" />
                    </div>
                </div> 

                <label asp-for="MarketName">Loppis</label>
                <div class="form-group">
                    <i class="input-icon fa-solid fa-location-dot"></i>
                    <i class="dropdown-icon fa-solid fa-caret-down"></i>
                    <select required id="marketSelect" asp-for=MarketName>
                        @if (markets.Count() < 1)
                        {
                            <option>Det finns inga aktiva marknader just nu.</option>
                        }
                        else
                        {
                            @foreach (var market in markets)
                            {
                                <option value="@market.MarketTitle">@market.MarketTitle</option>
                            }
                        }
                    </select>
                    <span id="searchErrorMessage" class="small">Du måste välja loppis</span>
                </div>
            </div>
        </div>
        <div class="home-showcase--bottom-content">
            <div class="container">
                <div class="home-showcase--bc-content">
                    <button class="button orange-bg-button" type="submit">SÖK</button>
                </div>
            </div>
        </div>
    </form>
</section>


<section class="container home-markets mt-5">
    <h1>Loppisar och marknader</h1>
    <div class="home-markets--markets">
        @foreach (var market in markets)
        {
            <partial name="/Views/Partials/_MarketCard.cshtml" model="market" />
        }
    </div>

</section>


<script>
    //curretly not in use
    document.getElementById("searchForm").addEventListener("submit", function (event) {
        var marketSelect = document.getElementById("marketSelect");
        var errorMessage = document.getElementById("searchErrorMessage");

        if (marketSelect.value == "0") {
            errorMessage.style.display = "block";
            event.preventDefault(); // Prevent form submission
        } else {
            errorMessage.style.display = "none";
        }
    });
</script>