@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@using Microsoft.AspNetCore.Identity;
@inject MarketService marketService
@{
    var markets = await marketService.GetAllAsync();
    ViewData["Title"] = "Hem";
}

<section class="home-showcase">
    <div>
        <img src="/Images/marketlp.jpg" />
        <div class="home-showcase--content">
            <!--<h4>Vad leter du efter idag?</h4>
            <form method="post">
                <div class="form-group">
                    <i class="input-icon fa-solid fa-magnifying-glass"></i>
                    <input id="searchString" type="text" placeholder="Sök" />
                </div>
            </form>
            -->
        </div>
    </div>
</section>

<section class="container home-container">
    <h5>Aktiva marknader</h5>
    <div>
        @foreach (var market in markets)
        {
            <partial name="/Views/Partials/_MarketCard.cshtml" model="market" />
        }
    </div>

</section>