//Imports
@import "Partials/_header.scss";
@import "Partials/_home.scss";

body {
    background-color: #dff9fb;
    margin: 0;
    padding: 0;
}

//Properties
h4 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

//Market
.market {
    background-color: white;
    padding: 0.6rem 1.2rem;
    margin: 2rem 0;

    a {
        color: #130f40;
        text-decoration: none;
    }

    .market-title {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .market-description {
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }

    .market-timetitle {
        font-weight: 500;
        margin-bottom: 0;
    }

    .market-time {
        margin-bottom: 0.3rem;
    }

    .market-links {
        display: flex;
        gap: 1rem;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 1.4rem;
        margin-bottom: 1rem;
        background-color: #130f40;
        color: white;
        border-radius: 2rem;
        padding: 0.6rem 3rem;
        border: none;
        outline: none;

        &:hover {
        }
    }
}
