//Imports
@import "Partials/_header.scss";
@import "Partials/_home.scss";

body {
    background-color: #dff9fb;
    margin: 0;
    padding: 0;
}

//Properties
h4 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

a{
    text-decoration: none;
    color: black;
    &:hover{
        color: black;
    }
}

//components
.button {
    display: block;
    margin: auto;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    background-color: #f0932b;
    color: white;
    border-radius: 2rem;
    padding: 0.6rem 3rem;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 500;
    transition: all ease-in-out 150ms;
    max-width: fit-content;

    &:hover {
        color: white;
        transform: scale(0.99);
    }
}

//market-car
.market-card {
    background-color: white;
    padding: 0.6rem 1.2rem;
    margin: 2rem 0;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .market-title {
        font-size: 1.4rem;
        font-weight: 500;
        color: #130f40;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .market-description {
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }

    .market-undertitle {
        font-weight: 500;
        margin-bottom: 0;
    }

    .market-time {
        margin-bottom: 0.3rem;
    }

    .address{
        margin-bottom: 0;
    }

    .button{
        &:hover{
            text-decoration: none;
        }
    }
}
